*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background: url("Images/image.png")  no-repeat;
   background-size: cover;
   font-family: sans-serif;
  
}
.container{
    width: 500px;
    height: 500px;
    margin: 40px auto;
    box-shadow: 0 0 5px #ddd;
    backdrop-filter: blur(5px);
    
}
h2{
    color: white;
    text-align: center;
    margin: 20px 0;
    padding-top: 20px;
}
.form{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
input{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
#inputText{
    width: 70%;
    border: 1px solid #ddd;
    background-color: transparent;
    color: #ddd;
    
    padding: 10px;
}
#inputText:focus{
    outline: none;
}
#SubmitBtn,
#UpdateBtn{
    width: 14%;
    border: none;
    background-color: #465bb9f8;
    padding: 5px 10px;
    color: #fff;
}
#UpdateBtn{
    background-color: rgb(170, 34, 24);

}
.task , .del{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 5px 10px;
}
.task{
    width: 90%;
    margin: auto;
    display: flex;
    /* justify-content: space-between; */
    /* color: rgb(1, 8, 68); */
    color: #0b0113;
    margin: 10px auto;
    box-shadow: 0 0 5px #ddd;
    font-weight: bold;
}
i{
    text-align: right;

    
}
.done{
    background-color: #a7a4a4;
    opacity: .7;
    text-decoration: line-through;
}

.del{
    color: rgb(255, 0, 0);
    font-size: 14px; 
      
}
.edit{
    padding: 5px 10px;
    font-size: 12px;
    color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
i ,
#SubmitBtn  {
    cursor: pointer;
}